@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}

.customfont {
    font-family: "My Custom Font", Epilogue, Tahoma;
}

.container {
    margin-left: 24px;
    margin-right: 24px;
}



.contact {
    text-align: left;
    width: 100%;
    margin-top: 8%;

}

.mxh {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 15px;
}

.button {
    background-color: black;
    color: white;
    padding: 20px;
    width: 210px;
    height: 78px;
}


.navbar {
    color: #000000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;

}

.nav-item {}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-link:hover {
    color: red;
}

div.mycontainer {
    width: 100%;
    margin-bottom: 42px;
}


.facebook-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.facebook-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.facebook-icon:hover {
    transform: rotate(360deg);
}

.instagram-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.instagram-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.instagram-icon:hover {
    transform: rotate(360deg);
}

.contrac-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.contrac-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contrac-icon:hover {
    transform: rotate(360deg);
}

.threads-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.threads-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.threads-icon:hover {
    transform: rotate(360deg);
}

.corners {
    background: #F3F3F3;
    padding: 15px;
    width: 70%;
    height: 100%;
    margin-bottom: 15px;
}

/* section profile */
.profile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile img {
    max-width: 100%;
}

.profile .profile-inner {
    max-width: 45%;
}
div.mycontainer {
    margin-top: 5%;
    margin-right: 8%;
    margin-bottom: 5%;
    text-align: center;
}
div.myprofile {
    margin-top: 5%;
    margin-right: 8%;
    margin-bottom: 5%;
}
.logo {
    width : 100%;
    display: flex;
    justify-content: center;
}
.logo img {
    max-width: 100%;
    margin : 65px;
}

.logo .logo-inner {
    max-width: 20%;
}
.product {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.product img {
    max-width: 100%;
}
.product .product-inner {
    max-width: 25%;
    margin: 0px 45px;
}
.work {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.work img{
    max-width: 100%;
}
.work .work-inner{
    max-width: 30%;
    margin: 20px;
}
.testimonial {
    width: 100%;
    display: flex;
    justify-content: center;

}
.testimonial img{
    max-width: 100%;
}
.testimonial .testimonial-inner{
    max-width: 30%;
    margin: 20px;
    background: #F3F3F3;
}
.like{
    margin:10%;
}
.rate{
    width: 100%;
    display: flex;
    justify-content: center;
}
.rate .rate-right {
    max-width: 70%;
    text-align: left;
}
.rate .rate-left{
    max-width: 25%;
    text-align: right;

}
.thanhoai {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.thanhoai img{
    max-width: 100%;
}
.thanhoai .thanhoai-inner{
    max-width: 40%;
    margin: 20px;

}
@media only screen and (max-width: 767px) {
    .profile {
        display: block;
    }

    .profile .profile-inner {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .profile .profile-left p {
        font-size: 13px
    }

    .profile button {
        max-width: 100px;
        height: 40px
    }

    .logo {
        display: block;
    }

    .logo .logo-inner {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .product {
        display: block;
    }

    .product .product-inner {
        width: 100%;
        max-width: 85%;
        margin-bottom: 15px;
        text-align: center;
    }

    .work {
        display: block;
    }

    .work .work-inner {
        width: 100%;
        max-width: 97%;
        margin-bottom: 15px;
        text-align: center;
    }

    .testimonial {
        display: block;
    }

    .testimonial .testimonial-inner {
        width: 100%;
        max-width: 93%;
        margin-bottom: 15px;
        text-align: center;
    }

    .thanhoai {
        display: block;
    }

    .thanhoai .thanhoai-inner {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
}